.header {
  background-color: $cbd;
  .logo-header {
    margin: 2px auto;
    width: $display;
    height: 70px;
      .block-logo {
        float: left;
      }
      .block text-logo{
        float: left;
      }
      .block-logo-rev {
        float: right;
      }
      .main_menu {
        float: right;
        margin-top: 10px;
                ul {
          list-style: none;
          li {
            float: left;
            margin-left: 15px;
            a{
              text-decoration: none;
              color: #1E1718;
              background-image: url("/bundles/BlogBundle/images/bkg_op_btn.png");
              padding: 2px 5px;
              border: 1px solid #F7B800;
              border-radius: 7px;
              font-family: "Calibri Light";
              font-weight: bold;
              text-transform: uppercase;
              }
            a:hover{
              background-image: url("/bundles/BlogBundle/images/bkg_op_btn_push.png");
            }
          }
        }
      }
  }
}