.main_container{
  background-image: url("/bundles/BlogBundle/images/bkg_op.png");
  width: $display;
  margin: 30px auto;
  #post_date{
    font-size: 12px;
  }
  .main_post{
    padding: 5px 3px;
    border-bottom: 2px solid #ff8300;
    #main_post_next{
      color: #ff8300;
    }
  }
}