body{
  background-color: $cd5;
  font-family: Callibri;
  font-size: 16px;
}
table, tr, td, th{
  border : 1px solid;
  border-collapse: collapse;
  td:hover, a:hover{
    color: red;
  }
}
h1{
  font-size: 35px;
  color: $title;
}
h2 a{
  font-size: 27px;
  color: #5A3B00;
  text-decoration: none;
}
h2 a:hover{
    color: #ff8300;
}