{% extends '::page.html.twig' %}
     {% block site_title %}
         <h2>{{ post.title|upper }}</h2>
     {% endblock %}
     {% block main %}
              <p>{{ post.description }}</p>
             <p>{% if post.datetime %}{{ post.datetime|date('Y-m-d H:i') }}{% endif %}</p>
     {% endblock %}