{% extends '::base.html.twig' %}
{% block body %}
    {% block header %}
        <header>
            {% block logo %}
                <div class="block block-logo">
                    <div class="site-logo">
                        <a href="{{ path('create_prod') }}"><img src="{{asset("bundles/BlogBundle/images/hornet_logo.png") }}"></a>
                    </div>
                </div>
            {% endblock %}
            {% block main_menu %}
                <ul>
                    <li><a href="{{ path('create_prod') }}">Главная</a></li>
                    <li><a href="{{ path('blog_about') }}">О нас</a></li>
                </ul>
            {% endblock %}
        </header>
    {% endblock %}

    {% block content %}
        <div id="main_container">
            {% block site_title %}
                <div class="page title" id="page_title">
                    <h1>{% block page_title %}Page title{% endblock %}</h1>
                </div>
            {% endblock %}
            <main>
                {% block main %}
                {% endblock %}
            </main>
        </div>
    {% endblock %}

    {% block futer %}
        <footer role="contentinfo">
            <div class="block block-copyright">
                Copyright & copy; 2016. All right reserved.
            </div>
        </footer>
    {% endblock %}
{% endblock %}